<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Profile</title>
    <link rel = "stylesheet" href = "/css/style.css" />
</head>
<body class = "team">
    <h1><%=team.name%>!</h1>
    <form action = "/team/<%=team.id%>?_method=PUT" method = "POST">
        Name:<input type = "text" name = "name" value = "<%=team.name%>" />
        <input type = "submit" value = "Change Name" />
    </form>
    <div>
        <h2>Team Members:
            <ul>
                <% for (let i = 0; i<team.Players.length;i++) { %>
                    <li>
                        <a href = "/players/profile/<%=team.Players[i].id%>"><%=team.Players[i].name%></a>
                    </li>
                <% } %>
            </ul>
        </h2>
    </div>
    <br>
    <form action = "/team/<%=team.id%>?_method=DELETE" method = "POST">
        <input type = "submit" value = "Delete Team" />
    </form>
    <br>
    <br>
    <a href = "/team">All Teams</a>
</body>
</html>